*.pkl
*.tif
*.tfw
*.aux
*.ovr
*.xml
*.dbf
*.prj
*.shp
*.shx
*.sbn
*.sbx
*.cpg
*.qix
*.qpj
*.gml
*.gfs
*.vrt
*.ovr
*.tab
*.map
*.ind
*.id
*.dat
*.dxf
*.dwg
*.gdb
*.mdb
*.shp.xml
*.shp.iso.xml
*.shp.aux.xml
*.shp.ovr
*.shp.qix
*.shp.qpj
*.shp.gml
*.shp.gfs
*.shp.vrt
*.shp.ovr
*.shp.tab
*.shp.map
*.shp.ind
*.shp.id
*.shp.dat
*.shp.dxf
*.shp.dwg
*.shp.gdb
*.shp.mdb 